.App {
  text-align: center;
}

.diatonic {
  background: #AAFFAA;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.chordcard {
  display: inline-block;
  border-radius: 12px;
  padding: 12px;
  width: 100px;
  height: 200px;
  background: #AAAAFF;
  margin: 6px;
  text-align: center;
  vertical-align:top;
}

.chordcard:hover {
  background: #FFAAAA;
  opacity: 0.4;
}

.chordcard:hover::before {
  content: 'けす';
  color: #FF3333;
}

.dead {
  background: #AAAAAA;
}

.yoko {
  overflow-x: auto;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

.scoreboard {
  height: 250px;
  background: #EEEEEE;
}

* {
  box-sizing: border-box;
}