.App {
  text-align: center;
}

.diatonic {
  background: #AAFFAA;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.flex {
  display: flex;
  flex-direction: row;
}

.chordcard {
  border-radius: 12px;
  padding: 12px;
  width: 64px;
  background: #AAAAFF;
  margin: 6px;
  text-align: center;
}

.scoreboard {
  height: 200px;
  align-items: top;
}

* {
  box-sizing: border-box;
}